.component {
  margin-bottom: 50px;
  .element-wrapper {
    .element-title {
      font-size: 0.9rem;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .element-sub-title {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
    .row {
      margin-bottom: 20px;
    }
  }
}
