<div class="components-wrapper">
  <div class="title-wrapper">
    <h3 class="title">Typography</h3>
    <span class="subtitle">
      The font we are using is: Roboto
      <a href="https://fonts.google.com/specimen/Roboto">https://fonts.google.com/specimen/Roboto</a>
    </span>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="col-lg-3 col-md-3 row tile-wrapper">
      <div class="typo-tile-1">
        <div>AaBbCc</div>
        <div>01234</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 row tile-wrapper">
      <div class="typo-tile-2">
        Aa
      </div>
    </div>
  </div>
  <div class="component sub-component col-md-12 col-lg-12 row">
    <div class="col-lg-3 col-md-3 row tile-wrapper">
      <div class="typo-tile-3">
        <div>Roboto</div>
        <div>Roboto 22px</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 row tile-wrapper">
      <div class="typo-tile-4">
        <div>Roboto</div>
        <div>Roboto 14px</div>
      </div>
    </div>
  </div>
  <div class="component sub-component col-md-12 col-lg-12 row">
    <div class="col-lg-3 col-md-3 row tile-wrapper">
      <div class="typo-tile-3">
        abcdefghijklmno<br/>pqrstuvwxyz<br/>ABCDEFGIJKLM<br/>NOPQRSTUVW<br/>XYZ0123456789<br/>£$%&°/()!?.;,:
      </div>
    </div>
    <div class="col-lg-3 col-md-3 row tile-wrapper">
      <div class="typo-tile-4">
        abcdefghijklmno
        <br/>pqrstuvwxyz
        <br/>ABCDEFGIJKLM
        <br/>NOPQRSTUVW
        <br/>XYZ0123456789
        <br/>£$%&°/()!?.;,:
      </div>
    </div>
  </div>
</div>
