<div class="components-wrapper">
  <div class="title-wrapper">
    <h3 class="title">Cards</h3>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="element-wrapper">
      <div class="element-title row">Default</div>
      <div class="row">
        <div class="ac-card default">
          <div class="package">Package
            <span class="star">*</span>
          </div>
          <div class="file-name">TemplatePackage.djar</div>
          <a href="javascript:;" class="ac-link">Change Package</a>
        </div>
      </div>
      <div class="row code-preview">
        <pre [innerHtml]="codePreview1">Code preview</pre>
      </div>
    </div>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="element-wrapper">
      <div class="element-title row">Selected</div>
      <div class="row">
        <div class="ac-card selected">
          <div class="title">Entry Point
            <span class="star">*</span>
          </div>
          <div class="ac-text-field dropdown">
            <input type="text" class="mdc-text-field__input" value="entry.ip.xml">
            <label class="mdc-floating-label mdc-floating-label--float-above" for="pre-filled">entry Point</label>
            <i class="dropdown-icon ac-icon-arrow"></i>
          </div>
          <div class="action-buttons">
            <button class="ac-button ">Save</button>
            <button class="ac-button cancel">Cancel</button>
          </div>
        </div>
      </div>
<div class="row code-preview">
        <pre [innerHtml]="codePreview2">Code preview</pre>
      </div>
    </div>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="element-wrapper">
      <div class="element-title row">History</div>
      <div class="row">
        <div class="ac-card history">
          <div class="header">
            <i class="header__icon ac-icon-chevron-left"></i>
            <span class="title">Activity</span>
          </div>
          <div class="body">
            <div class="line">Last modified by
              <span class="bold">kvyvial</span> on November 27, 2016 at 05:49:09 CST</div>
            <div class="link">Created by
              <span class="bold">gcoates</span> on November 5, 2011 at 21:49:09 CST</div>
          </div>
        </div>
      </div>
<div class="row code-preview">
        <pre [innerHtml]="codePreview3">Code preview</pre>
      </div>
    </div>
  </div>
</div>
