<div class="components-wrapper">
  <div class="title-wrapper">
    <h3 class="title">Menus</h3>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="element-wrapper">
      <div class="element-title row">Primary</div>
      <div class="col-lg-2 col-md-2 row">
        <div class="ac-menu primary">
          <div class="mdc-list">
            <div class="mdc-list-item active">
              <i class="ac-icon-edit"></i>
              Edit
            </div>
            <div class="mdc-list-item">
              <i class="ac-icon-copy"></i>
              Duplicate
            </div>
            <div class="mdc-list-item">
              <i class="ac-icon-share"></i>
              Share
            </div>
            <div class="mdc-list-item">
              <i class="ac-icon-archive"></i>
              Archive
            </div>
            <div class="mdc-list-item">
              <i class="ac-icon-delete"></i>
              Delete
            </div>
          </div>
        </div>
      </div>
      <div class="row code-preview col-lg-12 col-md-12">
        <pre [innerHtml]="codePreview1">Code preview</pre>
      </div>
    </div>
  </div>
</div>
