.component {
  margin-bottom: 50px;
  .element-wrapper {
    .element-title {
      font-size: 0.9rem;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .row {
        margin-bottom: 20px;
    }
    .mdc-list {
      font-size: 1.5rem;
    }
  }
}