<div class="components-wrapper">
  <div class="title-wrapper">
    <h3 class="title">Others</h3>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="element-wrapper">
      <div class="element-title row">Tag</div>
      <div class="element-sub-title row">Provies user with additional information about an element on a page. Multiple tags can be used together. Tags are not clickable</div>
      <div class="row">
        <div class="tag-container">
          <div class="ac-tag">FROM TEMPLATE</div>
        </div>
      </div>
      <div class="row code-preview">
        <pre [innerHtml]="codePreview1">Code preview</pre>
      </div>
    </div>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="element-wrapper">
      <div class="element-title row">Breadcrumb</div>
      <div class="row">
        <div class="ac-breadcrumb">
          <a class="breadcrumb-item" href="javascript:;">
            <i class="ac-icon-chevron-left"></i>
            Back to Confiruations list
          </a>
        </div>
      </div>
<div class="row code-preview">
  <pre [innerHtml]="codePreview2">Code preview</pre>
</div>
    </div>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="element-wrapper">
      <div class="element-title row">Tooltips</div>
      <div class="row">
        <div class="pull-left tooltip-container">
          <div class="ac-tip left">
            <div class="ac-tip__content">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </div>
            <div class="ac-tip__arrow"></div>
          </div>
        </div>
        <div class="pull-left tooltip-container">
          <div class="ac-tip up">
            <div class="ac-tip__content">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s
            </div>
            <div class="ac-tip__arrow"></div>
          </div>
        </div>
        <div class="pull-left tooltip-container">
          <div class="ac-tip right">
            <div class="ac-tip__content">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              It has survived not only five centuries
            </div>
            <div class="ac-tip__arrow"></div>
          </div>
        </div>     
        <div class="pull-left tooltip-container">
          <div class="ac-tip bottom">
            <div class="ac-tip__content">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
              text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
            <div class="ac-tip__arrow"></div>
          </div>
        </div>   
      </div>
<div class="row code-preview">
  <pre [innerHtml]="codePreview3">Code preview</pre>
</div>
    </div>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="element-wrapper">
      <div class="element-title row">Search</div>
      <div class="element-sub-title">
        <div class="row">Two behaviors of the search bar are available.</div>
        <ol>
          <li>Collapsible Search Button: When the user clicks on the search button, the box expands and the cursor is focused into the
            search field. Once the user loses focus on the search box, the box collapses into a button.</li>
          <li>Expanded Search Bar: When a user focuses within the search bar, an “X” appears on the right side of the search bar.</li>
        </ol>
      </div>
      <div class="row">
        <div class="sample-search-container">
          <div class="ac-search-bar collapsed">
            <i class="ac-search-bar__icon ac-icon-search"></i>
            <input class="ac-search-bar__input">
          </div>
          <div class="ac-search-bar expanded">
            <i class="ac-search-bar__icon ac-icon-search"></i>
            <input class="ac-search-bar__input" placeholder="Search configurations by name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sample-search-container">
          <div class="ac-search-bar disabled collapsed">
            <i class="ac-search-bar__icon ac-icon-search"></i>
            <input class="ac-search-bar__input">
          </div>
          <div class="ac-search-bar disabled expanded">
            <i class="ac-search-bar__icon ac-icon-search"></i>
            <input class="ac-search-bar__input">
          </div>
        </div>
      </div>
<div class="row code-preview">
  <pre [innerHtml]="codePreview4">Code preview</pre>
</div>
    </div>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="element-wrapper">
      <div class="element-title row">Toast Notifications</div>
      <div class="element-sub-title row">
        <p>Toast notifications appear below the main navigation bar</p>
<p>Confirmation toast auto-dismisses after 5 seconds or after the user dismisses the message by clicking on DISMISS.<br/> Error toast
  does not auto-dismiss and must be dismissed by the user or until they navigate away from the page. <br/>When additional error
  information is returned by the API, the error toast should display a user friendly message with further details so the
  user can resolve the error.</p>
      </div>
      <div class="row">
        <div class="ac-toast succeed">
          <div class="ac-toast__text">
            <div class="line">MDC Toolbar acts as a container for multiple rows containing items such as application title, navigation menu
            </div>
          </div>
          <button class="ac-toast__button ac-button transparent">DISMISS</button>
        </div>
      </div>
      <div class="row">
        <div class="ac-toast failed">
          <i class="ac-toast__icon ac-icon-info"></i>
          <div class="ac-toast__text">
            <div class="line">MDC Toolbar acts as a container for multiple rows containing items such as application title, navigation menu, and tabs,
              among other things. Toolbars scroll with content by default, but support fixed behavior as well.
            </div>
            <div class="line">Flexible behavior can be added to mdc-toolbar, where the height of the toolbar changes as the user scrolls.
            </div>
          </div>
          <button class="ac-toast__button ac-button transparent">DISMISS</button>
        </div>
      </div>
<div class="row code-preview">
  <pre [innerHtml]="codePreview5">Code preview</pre>
</div>
    </div>
  </div>
</div>
