<div class="components-wrapper">
  <div class="title-wrapper">
    <h3 class="title">Buttons &amp; Links</h3>
    <span class="subtitle">
      Buttons with Normal and Disabled states.
    </span>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="col-lg-4 col-md-4 element-wrapper">
      <div class="element-title row">Primary</div>
      <div class="row">
        <div class="element pull-left">
          <button class="ac-button primary">
            <i class="button__icon ac-icon-add"></i>Add
          </button>
        </div>
        <div class="element pull-left">
          <button class="ac-button primary" disabled>
            <i class="button__icon ac-icon-add"></i>Add
          </button>
        </div>
      </div>
      <div class="row">
        <div class="element pull-left">
          <button class="ac-button primary">
            Next
          </button>
        </div>
        <div class="element pull-left">
          <button class="ac-button primary" disabled>
            Next
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 element-wrapper">
      <div class="element-title row">Primary - Other Examples</div>
      <div class="row">
        <div class="element pull-left">
          <button class="ac-button">
            Save
          </button>
        </div>
        <div class="element pull-left">
          <button class="ac-button" disabled>
            Save
          </button>
        </div>
      </div>
      <div class="row">
        <div class="element">
          <button class="ac-button primary lg">
            Login in
          </button>
        </div>
      </div>
    </div>
    <div class="code-preview col-lg-12 col-md-12 row">
      <pre [innerHtml]="codePreview1"></pre>
    </div>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="col-lg-4 col-md-4 element-wrapper">
      <div class="element-title row">Secondary</div>
      <div class="row">
        <div class="element pull-left">
          <button class="ac-button secondary">
            <i class="button__icon ac-icon-add"></i>
            Add
          </button>
        </div>
        <div class="element pull-left">
          <button class="ac-button secondary" disabled>
            <i class="button__icon ac-icon-add"></i>
            Add
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 element-wrapper">
      <div class="element-title row">Secondary - Other Examples</div>
      <div class="row">
        <div class="element pull-left">
          <button class="ac-button secondary danger">
            <i class="button__icon ac-icon-delete"></i>
            Delete Confiuration
          </button>
        </div>
        <div class="element pull-left">
          <button class="ac-button secondary danger" disabled>
            <i class="button__icon ac-icon-delete"></i>
            Delete Confiuration
          </button>
        </div>
        <div class="element pull-left">
          <button class="ac-button normal-fill sm">
            <i class="button__icon ac-icon-play"></i>
            Run
          </button>
        </div>
      </div>
      <div class="row">
        <div class="element pull-left">
          <button class="ac-button normal-fill">
            Add a Confiuration
          </button>
        </div>
        <div class="element pull-left">
          <button class="ac-button normal">
            Register
          </button>
        </div>

        <div class="element pull-left">
          <button class="ac-float-button" aria-label="Favorite">
            <i class="button__icon ac-icon-delete"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="code-preview col-lg-12 col-md-12 row">
      <pre [innerHtml]="codePreview2">code-preview</pre>
    </div>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="col-lg-4 col-md-4 element-wrapper">
      <div class="element-title row">Links</div>
      <div class="row">
        <div class="element pull-left">
          <a href="javascript:;" class="ac-link">Cancel</a>
        </div>
      </div>
      <div class="row">
        <div class="element pull-left">
          <a href="javascript:;" class="ac-link sm active">
            <i class="link__icon ac-icon-refresh"></i>
            Refresh All
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 element-wrapper">
      <div class="element-title row">Button + Link</div>
      <div class="row">
        <div class="element pull-left">
          <a href="javascript:;" class="ac-link">Cancel</a>
        </div>
        <div class="element pull-left">
          <button class="ac-button danger-fill">
            Delete Forever
          </button>
        </div>
      </div>
      <div class="row">
        <div class="element pull-left">
          <a href="javascript:;" class="ac-link">Cancel</a>
        </div>
        <div class="element pull-left">
          <button class="ac-button normal-fill">
            Add a Confiuration
          </button>
        </div>
      </div>
      <div class="row">
        <div class="element pull-left">
          <a href="javascript:;" class="ac-link">Cancel</a>
        </div>
        <div class="element pull-left">
          <button class="ac-button primary">
            Next
          </button>
        </div>
      </div>
      <div class="row">
        <div class="element pull-left">
          <a href="javascript:;" class="ac-link">Cancel</a>
        </div>
        <div class="element pull-left">
          <button class="ac-button primary" disabled>
            Next
          </button>
        </div>
      </div>
      <div class="row">
        <div class="element pull-left">
          <button class="ac-button">
            Save
          </button>
        </div>
        <div class="element pull-left">
          <a href="javascript:;" class="ac-link">Cancel</a>
        </div>
      </div>
      <div class="row">
        <div class="element pull-left">
          <button class="ac-button" disabled>
            Save
          </button>
        </div>
        <div class="element pull-left">
          <a href="javascript:;" class="ac-link">Cancel</a>
        </div>
      </div>
    </div>
    <div class="code-preview col-lg-12 col-md-12 row">
      <pre [innerHtml]="codePreview3">code-preview</pre>
    </div>
  </div>
</div>
