<div class="components-wrapper">
  <div class="title-wrapper">
    <h3 class="title">Icons</h3>
    <span class="subtitle">
      Most Icons are based on Google Material Design icon font
    </span>
  </div>
  <div class="component sub-component col-md-12 col-lg-12 row">
    <div class="row">
      <i class="ac-icon-face color-actian-azure color"></i>
      <i class="ac-icon-share color-actian-azure color"></i>
      <i class="ac-icon-edit color-mid-grey color"></i>
      <i class="ac-icon-link color-mid-grey color"></i>
      <i class="ac-icon-lock color-mid-grey color"></i>
      <i class="ac-icon-preview color-actian-azure color"></i>
      <i class="ac-icon-notification color-actian-azure color"></i>
      <i class="ac-icon-search color-actian-azure color"></i>
    </div>
    <div class="row">
      <i class="ac-icon-info color-actian-azure color"></i>
      <i class="ac-icon-play color-actian-azure color"></i>
      <i class="ac-icon-refresh color-seafoam color"></i>
      <i class="ac-icon-help color-actian-azure color"></i>
      <i class="ac-icon-play color-actian-azure color"></i>
      <i class="ac-icon-add color-actian-azure color"></i>
      <i class="ac-icon-remove color-actian-azure color"></i>
    </div>
    <div class="row">
      <i class="ac-icon-delete color-actian-azure color"></i>
      <i class="ac-icon-archive color-actian-azure color"></i>
      <i class="ac-icon-copy color-actian-azure color"></i>
    </div>

    <div class="row">
      <i class="ac-icon-setting color-carbon color"></i>
      <i class="ac-icon-checked color-carbon color"></i>
      <i class="ac-icon-close color-mid-grey color"></i>
      <i class="ac-icon-chevron-left color-carbon color"></i>
    </div>

    <div class="row">
      <i class="ac-icon-package color-carbon color"></i>
      <i class="ac-icon-package color-actian-azure color"></i>
    </div>
  </div>
</div>
