.components-wrapper {
  .component {
    .row i {
      margin: 10px 10px;
    }
    margin-bottom: 40px;
  }
  .package-wrapper {
    .package-title {
      text-transform: uppercase;
    }
    margin: 0px 0px 10px -3px;
  }
}