<div class="components-wrapper">
  <div class="title-wrapper">
    <h3 class="title">Logos</h3>
  </div>
  <div class="component">
    <div class="subtitle">Primary Logo</div>
    <div class="element">
      <img src="../../../assets/@actian/static/img/primary-logo.svg" alt="primary-logo">
    </div>
  </div>
  <div class="component">
    <div class="subtitle">Secondary Logo</div>
    <div class="element">
      <img src="../../../assets/@actian/static/img/second-logo.svg" alt="primary-logo">
    </div>
  </div>
</div>