<div class="org-name">ACTIAN CORPORTATION</div>
<div class="navigation-wrapper">
  <div class="title">COMPONENTS</div>
  <nav class="links">
    <ul class="list-unstyled">
      <li class="link">
        <a  routerLinkActive='active' routerLink="/logo">Logo</a>
      </li>
      <li class="link">
        <a routerLinkActive='active' routerLink="/colors">Colors</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/typography">Typography</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/icons">Icons</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/buttons-links">Buttons &amp; Links</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/inputs-dropdowns">Inputs &amp; Dropdown List</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/checkbox-radio">Checkboxes, Radios &amp; Toggles</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/menus">Menus</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/header-footer">Header, Subheader & Footer</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/others">Others</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/data-tables">Data Tables</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/wizards">Wizards</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/cards">Cards</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/modals">Modals</a>
      </li>
      <li class="link">
        <a  routerLinkActive='active' routerLink="/progress-bar">Progression Bar</a>
      </li>
    </ul>
  </nav>
</div>