// Adding styles for setting up checkbox component's title
// Using font-size as per Marvel design - https://marvelapp.com/dd7a3f4/screen/44123145
.component {
  margin-bottom: 50px;
  .element-wrapper {
    .element-title {
      font-size: 0.9rem;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .ac-form-field {
      font-size: 1.4rem;
    }
    &.toggle-buttons {
        .row {
          margin-bottom: 20px;
        }
    }
  }
}