/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}
.components-wrapper {
    .title-wrapper {
        margin-bottom: 80px;
        .title {
            font-weight: bold;
        }
        .subtitle{
            font-size: 1.2rem;
        }
    }
}