<div class="components-wrapper">
  <div class="title-wrapper">
    <h3 class="title">Modals</h3>
  </div>
  <div class="component col-md-12 col-lg-12 row">
    <div class="element-wrapper">
      <div class="element-sub-title row">
        <p>Modal dialogs should be used in the event the user needs to confirm a selection or perform additional actions. Modals should
not be used as a notification.</p>
        <p> Dismissing a modal dialog should provide a multi-method approach:</p> 
        <ol>
          <li>Primary call-to-action</li>
          <li>Cancel secondary call-to-action 2.1 In-line Cancel confirmation</li>
        </ol>
      </div>
      <div class="row">
        <div class="ac-dialog sm">
          <header class="header">
            <h2 class="title">Save Entry Point?</h2>
          </header>
          <div class="body">
            It looks like you have made changes to the entry point. Would you like to save before moving on?
          </div>
          <footer class="footer">
            <button class="ac-button cancel">Discard Changes</button>
            <button class="ac-button primary">Save Changes</button>
          </footer>
        </div>
      </div>
      <div class="row code-preview">
        <pre [innerHtml]="codePreview1">Code preview</pre>
      </div>
    </div>
  </div>
</div>
