<div class="components-wrapper">
  <div class="title-wrapper">
    <h3 class="title">Colors</h3>
    <span class="subtitle">The color palette is based on the Actian Branding Guideline.</span>
  </div>
  <div class="component">
    <div class="subtitle">Primary Colors</div>
    <div class="element">
      <div class="color">
        <div class="box color-bay-of-many"></div>
        <div class="title"></div>
        <div class="code"></div>
        <div class="rgb"></div>
      </div>
      <div class="color">
        <div class="box"></div>
        <div class="title"></div>
        <div class="code"></div>
        <div class="rgb"></div>
      </div>
      <div class="color">
        <div class="box"></div>
        <div class="title"></div>
        <div class="code"></div>
        <div class="rgb"></div>
      </div>
      <div class="color">
        <div class="box"></div>
        <div class="title"></div>
        <div class="code"></div>
        <div class="rgb"></div>
      </div>
      <div class="color">
        <div class="box"></div>
        <div class="title"></div>
        <div class="code"></div>
        <div class="rgb"></div>
      </div>
    </div>
  </div>
</div>