<div class="components-wrapper">
  <div class="title-wrapper">
    <h3 class="title">Colors</h3>
    <span class="subtitle">The color palette is based on the Actian Branding Guideline.</span>
  </div>
  <div class="component">
    <div class="subtitle">Primary Colors</div>
    <div class="element">
      <div class="color pull-left">
        <div class="box color-bay-of-many bg-color"></div>
        <div class="title">Bay of Many</div>
        <div class="code">#263E95</div>
        <div class="rgb">RGB (38,62,149)</div>
      </div>
      <div class="color pull-left">
        <div class="box color-actian-azure bg-color"></div>
        <div class="title">Actian Azure</div>
        <div class="code">#238ffb</div>
        <div class="rgb">RGB (35,143,251)</div>
      </div>
      <div class="color pull-left">
        <div class="box color-light-grey bg-color"></div>
        <div class="title">Light Grey</div>
        <div class="code">#f2f2f2</div>
        <div class="rgb">RGB (242,242,242)</div>
      </div>
      <div class="color pull-left">
        <div class="box color-carbon bg-color"></div>
        <div class="title">Carbon</div>
        <div class="code">#282828</div>
        <div class="rgb">RGB (40,40,40)</div>
      </div>
      <div class="color pull-left">
        <div class="box color-white bg-color"></div>
        <div class="title">White</div>
        <div class="code">ffffff</div>
        <div class="rgb">RGB (255,255,255)</div>
      </div>
    </div>
  </div>
  <div class="component">
    <div class="subtitle">Secondary / Accent Colors</div>
    <div class="element">
      <div class="color pull-left">
        <div class="box color-seafoam bg-color"></div>
        <div class="title">Sea Foam</div>
        <div class="code">#41cec3</div>
        <div class="rgb">RGB (65,206,195)</div>
      </div>
      <div class="color pull-left">
        <div class="box color-leaf-green bg-color"></div>
        <div class="title">Leaf Green</div>
        <div class="code">#35ba57</div>
        <div class="rgb">RGB (53,186,87)</div>
      </div>
      <div class="color pull-left">
        <div class="box color-coral bg-color"></div>
        <div class="title">Coral</div>
        <div class="code">#ff4a4a</div>
        <div class="rgb">RGB (255,74,74)</div>
      </div>
      <div class="color pull-left">
        <div class="box color-sunflower bg-color"></div>
        <div class="title">Sunflower</div>
        <div class="code">#f7a20b</div>
        <div class="rgb">RGB (247,162,11)</div>
      </div>
    </div>
  </div>
  <div class="component">
    <div class="subtitle">Additional Shaded of Grey Colors</div>
    <div class="element">
      <div class="color pull-left">
        <div class="box color-grey bg-color"></div>
        <div class="title">Grey</div>
        <div class="code">#607375</div>
        <div class="rgb">RGB (96,115,117)</div>
      </div>
      <div class="color pull-left">
        <div class="box color-mid-grey bg-color"></div>
        <div class="title">Mid-Grey</div>
        <div class="code">#aaaaaa</div>
        <div class="rgb">RGB (170,170,170)</div>
      </div>
    </div>
  </div>
</div>